colors {
    // text "#cbcbcb"
    // accent "#865fff"
    // muted "#595959"
    // error "#ff0000"
    // notif "#e4bf7a"
    text none
    accent blue
    muted bright_black
    error red
    notif yellow
}
logging {
    level warn
    file_path "~/.local/state/nm-tui/nm-tui.log"
}
keys {
    toggle {
        keys space
    }
    main {
        next_tab {
            keys "]"
        }
        prev_tab {
            keys "["
        }
        focus_next {
            keys tab
        }
        focus_prev {
            keys shift+tab
        }
        quit {
            keys esc ctrl+c q ctrl+q
        }
    }
    dialog {
        focus_down {
            keys ctrl+j
        }
        focus_up {
            keys tab
        }
        toggle_pw_visibility {
            keys ctrl+p
        }
        accept {
            keys ctrl+enter
        }
        close {
            keys ctrl+q
        }
    }
    wifi {
        create_profile {
            keys a c
        }
        open_network_login {
            keys l
        }
        enable_hotspot {
            keys ctrl+h
        }
        create_hotspot {
            keys h
        }
    }
    wifi_available {
        connect {
            keys enter
        }
    }
    wifi_saved {
        edit {
            keys enter
        }
        connect {
            keys space
        }
        disconnect {
            keys ctrl+space
        }
        delete {
            keys d delete
        }
    }
}

